.*.swp
.*.cfg
.*.pyc
*.o
*.d
*.exe
*.core
defaults.mk
*.files
*.config
*.includes
*.creator
*.user
*.bin
*.exo
*.prg
*.path-cache
*.xct
/*.cfg
/bin/
/lib/
/obj/
/test/
/dist/
/tools/*/bin/
/tools/*/lib/
/tools/*/obj/
/tools/*/test/
/tools/*/dist/
/tools/bin/
*.html.h
src/bin/swad/swad.conf.sample
src/bin/swad/swad.cdoc
src/bin/swad/swad.8
src/bin/swad/help.h
