[submodule "zimk"]
	path = zimk
	url = https://github.com/Zirias/zimk.git
[submodule "poser"]
	path = poser
	url = https://github.com/Zirias/poser.git
[submodule "tools/mkclidoc"]
	path = tools/mkclidoc
	url = https://github.com/Zirias/mkclidoc.git
